[submodule "src/dotnet/setup-dotnet"]
	path = src/dotnet/setup-dotnet
	url = https://github.com/actions/setup-dotnet
[submodule "src/nodejs/setup-node"]
	path = src/nodejs/setup-node
	url = https://github.com/actions/setup-node
